<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="enterprises.nucleus.plugin.msp_bt"
        version="0.0.1">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/msp_bt.js" target="js/msp_bt.js"/>

  <js-module src="www/msp_bt.js" name="msp_bt">
    <clobbers target="msp_bt" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="msp_bt">
        <param name="android-package" value="enterprises.nucleus.plugin.msp_bt"/>
      </feature>
    </config-file>

    <source-file src="src/android/msp_bt.java" target-dir="src/com/example/plugin/"/>
  </platform>

</plugin>
